// NAVBAR 

#botonera{
    background-color: map-get($map:$paleta, $key:'maincolor');

    img{
		width: 150px;
	}

    li a{
        font-size: 1.2rem;
		color: map-get($map:$paleta, $key:'textcolor');
        &:hover, &:active{
            color: map-get($map:$paleta, $key:'textcolor2');
			text-shadow: 2px 2px black;
			text-transform: uppercase;
        }
    }
}

// FOOTER

.footer{
    @include pic(url(../img/footer.jpg), cover, bottom);
    
    h2{
        color: map-get($map:$paleta, $key:'textcolor');
	    background-color: map-get($map:$paleta, $key:'maincolor');
    }

    h3{
        color: map-get($map:$paleta, $key:'secondarytextcolor');
    }

    img:hover{
        border: 2px solid #fff;
	    border-radius: 10px;
    }

    .Contact__link{
        color: map-get($map:$neutralcolors, $key:'white');
        text-decoration: none;
    
        &:hover{
            text-decoration: line-through;
            color: red;
        }
    }
}

